body,
p {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: url(../assets/poster.jfif) no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: background-image 0.2s ease-in;
  transition: background-image 0.2s ease-in;
}

#myVideo2 {
  height: 100vh;
  width: 100%;
}

.hide-scroll {
  overflow: hidden;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  letter-spacing: 4px;
}

.loader p {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#00e2ff), color-stop(50%, #00e2ff), color-stop(50%, white));
  background: linear-gradient(to right, #00e2ff, #00e2ff 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  -webkit-animation: mymove 2s infinite;
          animation: mymove 2s infinite;
  text-decoration: none;
}

@-webkit-keyframes mymove {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0 200%;
  }
}

@keyframes mymove {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0 200%;
  }
}

.videoModal {
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0px;
  background-color: black;
}

.videoModal .close-modal {
  right: 50px;
  font-size: 50px;
  z-index: 100;
  position: absolute;
  color: white;
  cursor: pointer;
}

.videoModal video {
  position: absolute;
}

.videoModal .advertisement,
.videoModal .story-parameter {
  z-index: 100;
  color: white;
  width: 200px;
  overflow: hidden;
  min-height: 500px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.videoModal .advertisement .overlay,
.videoModal .story-parameter .overlay {
  height: 100%;
  opacity: 0.4;
}

.videoModal .advertisement .paramter-content ul small,
.videoModal .story-parameter .paramter-content ul small {
  padding-left: 5px;
}

.videoModal .advertisement-content,
.videoModal .paramter-content {
  z-index: 100;
  position: relative;
  padding: 20px 12px 35px 12px;
}

.videoModal .heading {
  font-size: 20px;
  padding-bottom: 25px;
}

.videoModal .advertisement {
  right: 0;
}

.videoModal .advertisement .advertisement-content .heading {
  text-align: center;
}

.videoModal .advertisement .advertisement-content img {
  width: 100%;
}

.videoModal .story-parameter .paramter-content ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.videoModal .story-parameter .paramter-content ul li {
  position: relative;
}

.videoModal .story-parameter .paramter-content ul li:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  opacity: 0.2;
  border-radius: 5px;
}

.videoModal .story-parameter .paramter-content ul li:not(:last-child) {
  margin-bottom: 20px;
}

.videoModal .story-parameter .paramter-content ul li p {
  padding: 8px 15px;
}

.overlay {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.6;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#video-bg {
  background-image: url(../assets/poster.jfif);
  background-size: cover;
}

.logo img {
  width: 120px;
}

.esprit-content {
  z-index: 99;
  position: relative;
  color: white;
}

.esprit-content__video-desc {
  padding-top: 50px;
  position: relative;
  width: 60%;
  height: 300px;
}

.esprit-content__video-desc h1 {
  margin: 0;
  padding-bottom: 7px;
}

.esprit-content__video-desc span {
  display: block;
}

.esprit-content__video-desc p {
  margin: 20px 0 35px 0;
}

.esprit-content__video-desc button {
  border: 1px solid white;
  position: absolute;
  bottom: 0px;
  background: transparent;
  color: white;
  border-radius: 5px;
  font-family: "Nunito", sans-serif !important;
  padding: 7px 16px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.esprit-content__video-desc button i {
  margin-right: 12px;
  font-size: 14px;
}

.esprit-content__video-desc button:hover {
  opacity: 0.7;
}

.esprit-content .movie-carousel {
  margin-top: 25px;
  /* the slides */
  /* the parent */
}

.esprit-content .movie-carousel .slick-prev {
  left: -60px;
}

.esprit-content .movie-carousel .slick-next {
  right: -60px;
}

.esprit-content .movie-carousel .slick-slide {
  margin: 0 30px;
}

.esprit-content .movie-carousel .slick-list {
  margin: 0 -30px;
}

.esprit-content .movie-carousel .slick-list .slick-track {
  padding-top: 35px;
  padding-bottom: 35px;
}

.esprit-content .movie-carousel .item {
  cursor: pointer;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.esprit-content .movie-carousel .item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.esprit-content .movie-carousel .item img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */