body,
p {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body{
  background: url(../assets/poster.jfif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: background-image 0.2s ease-in;
transition: background-image 0.2s ease-in;
}

#myVideo2 {
	height: 100vh;
	width: 100%;
}

.hide-scroll {
  overflow: hidden;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  letter-spacing: 4px;
  p {
    overflow: hidden;
    background: linear-gradient(to right, #00e2ff, #00e2ff 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: mymove 2s infinite;
    text-decoration: none; // text decorations are clipped in WebKit browsers
  }
}

@keyframes mymove {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0 200%;
  }
}

.videoModal {
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0px;
  background-color: black;

  .close-modal {
    right: 50px;
    font-size: 50px;
    z-index: 100;
    position: absolute;
    color: white;
    cursor: pointer;
  }

  video {
    position: absolute;
  }

  .advertisement,
  .story-parameter {
    z-index: 100;
    color: white;
    width: 200px;
    overflow: hidden;
    min-height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .overlay {
      height: 100%;
      opacity: 0.4;
    }
    .paramter-content{
      ul{
        small{
          padding-left: 5px;
        }
      }
    }
  }

  .advertisement-content,
  .paramter-content {
    z-index: 100;
    position: relative;
    padding: 20px 12px 35px 12px;
  }

  .heading {
    font-size: 20px;
    padding-bottom: 25px;
  }

  .advertisement {
    right: 0;
    .advertisement-content {
      .heading {
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
  }

  .story-parameter {
    .paramter-content {
      ul {
        padding: 0;
        list-style-type: none;
        margin: 0;
        li {
          position: relative;
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: white;
            opacity: 0.2;
            border-radius: 5px;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          p {
            padding: 8px 15px;
          }
        }
      }
    }
  }
}

.overlay {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.6;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#video-bg{
  background-image: url(../assets/poster.jfif);
  background-size: cover;
}

.logo {
  img {
    width: 120px;
  }
}


  .esprit-content {
    z-index: 99;
    position: relative;
    color: white;
    &__video-desc {
      padding-top: 50px;
      position: relative;
      width: 60%;
      height: 300px;
      h1 {
        margin: 0;
        padding-bottom: 7px;
      }
      span {
        display: block;
      }
      p {
        margin: 20px 0 35px 0;
      }
      button {

        i {
          margin-right: 12px;
          font-size: 14px;
        }
        border: 1px solid white;
        position: absolute;
        bottom: 0px;
        background: transparent;
        color: white;
        border-radius: 5px;
        font-family: "Nunito", sans-serif !important;
        padding: 7px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s all linear;
        &:hover {
          opacity: 0.7;
        }
      }
    }



    .movie-carousel {
      margin-top: 25px;
      .slick-prev {
        left: -60px;
      }
      .slick-next {
        right: -60px;
      }
      /* the slides */
      .slick-slide {
        margin: 0 30px;
      }
      /* the parent */
      .slick-list {
        margin: 0 -30px;
        .slick-track {
          padding-top: 35px;
          padding-bottom: 35px;
        }
      }
      .item {
        cursor: pointer;
        transition: 1s ease all;

        &:hover {
          transform: scale(1.2);
        }
        img {
          width: 100%;
        }
      }
    }
  }
